.category-title{
    margin: 20px;
    font-size: 20px;
    color: orange;
    font-weight: 500;
}

.category-item{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 170px;
    margin: 20px;
    padding: 20px;
}

.category-item a{
    font-size: 21px;
}